@charset "UTF-8";



.all{
	position: absolute;
	height: 100%;
}

.name{
	margin-bottom: 100px;
}

.cabecalho h1{
	margin-bottom: 0px;
	margin-top: 0px;

}



.cabecalho{
	width: 675px;
	height: 400px;
	background-color: white;
	font-size: 30px;
	left: 30px;
	text-align:left;
	display: inline-block; 	
	align-items: center;
	
}

.cabecalho_01{
	height: 100%;
	width: 80%;
	vertical-align: middle;
	padding-left: 20% ;
	padding-top: 30% ;

	
}

.cabecalho p{
	list-style: none;
	font-size: 16px;

}


.corpo_00{
	color: white;
	width: 674px;
	height: 100%;
	float: left;
	background-color: rgba(9, 13, 16, 0.994);
	font-size: 30px;
	left: 30px;
	font-size: 14px;
	opacity: 100%;
}

.corpo_01{
	margin: 50px 40px 40px 40px;

}


html, body{
	margin:0px !important;
	padding: 0px !important;
	font-family: Courier, monospace;
 }


 .h2, h3, h4, h5, h6, p, ul, li, a, div {
	 margin: 0px 0px;
	 list-style: none;
 } 



.principal{
	font-size: 25px;
	font-weight: bolder
}



.sub_01{
	opacity: 40%;
	padding-left: 80px;

}

.sub_curso{
	opacity: 40%;
	padding-left: 320px;

}





 @media screen and (max-width: 480px) {
		



 }